body {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    margin: 0;
}
canvas {
    background-color: #000;
    display: block;
    margin: 2% auto;
    border: 5px solid #fff;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
}